
/*navbar*/
#navbar {
  overflow: hidden;
  background-color: #f5906e;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


.rounded-image {
  border-radius: 50%; /* rounds the corners of the image */
  cursor: pointer; /* displays a hand cursor when the image is hovered over */
}


.pacifico {
   font-family: 'Pacifico', cursive;
vertical-align: middle;
        

}

.intro-color {
    background-color: #f5906e;
}

.logo-back {
  background-color: #e2ddec;
}

footer {
  background-color: #e2ddec;
  padding: 20px;
  text-align: center;
}

/* nav hover */
a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 0 15px;
  line-height: 50px;
  position: relative;
}

a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
}

a:hover::before {
  width: 100%;
}

/*background colors */
.workback {
  background-color: #c2b2a3;
}

.expback {
  background-color: #c2b2a3;
}


/*form*/
input {
  width: 400px;
}

#signUp {
  margin-top: 10px;
  padding: 0 20px 15px 20px;
}
#signUp legend {
  font-size: 2em;
  font-weight: 200;
  padding: 0 0.2em;
}
#signUp label {
  display: block;
  padding-top: 1em;
}

#submit {
  display: block;
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
  border: 0;
  margin-top: 15px;
  background-color: #f5906e;
}


/*cards*/

.card{
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
padding: 14px 80px 18px 36px;
cursor: pointer;
}

.card:hover{
   transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card h3{
font-weight: 600;
}

.card img{
position: absolute;
top: 20px;
right: 15px;
max-height: 120px;
}

