/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #f5906e;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


.rounded-image {
  border-radius: 50%; /* rounds the corners of the image */
  cursor: pointer; /* displays a hand cursor when the image is hovered over */
}


.pacifico {
   font-family: 'Pacifico', cursive;
vertical-align: middle;
        

}

.intro-color {
    background-color: #f5906e;
}

.logo-back {
  background-color: #e2ddec;
}

footer {
  background-color: #e2ddec;
  padding: 20px;
  text-align: center;
}

/* nav hover */
a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 0 15px;
  line-height: 50px;
  position: relative;
}

a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
}

a:hover::before {
  width: 100%;
}